.md-grid {
  max-width: 1280px; 
}
:root {
  --md-accent-fg-color:                hsla(272, 91%, 29%, 1);
  --md-accent-fg-color--transparent:   hsla(272, 91%, 29%, 0.1);
  --md-accent-bg-color:                hsla(272, 91%, 29%, 1);
  --md-accent-bg-color--light:         hsla(272, 91%, 29%, 0.7);
  --md-typeset-color:                  hsla(272, 91%, 29%, 1);
  --md-typeset-a-color:                hsla(272, 91%, 29%, 1);
  --md-text-link-color:                hsla(272, 91%, 29%, 1);
}
